*.so
.cmake
.ninja
.ninja*
CMakeCache.txt
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeScripts
CTestTestfile.cmake
Makefile
Makefile
Testing
_deps
build*
cmake_install.*
cmake_install.cmake
compile_commands.json
exwire*
install_manifest.txt
perf.*
vgcore*
